@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {margin: 0;padding: 0; }
fieldset, img, input[type="text"], button {border: none;padding: 0;margin: 0;outline-style: none;}
ul, ol {list-style: none;}
input[type="text"] {padding-top: 0;padding-bottom: 0;font-family: "SimSun", "宋体"; }
select, input {vertical-align: middle;}
select, input, textarea {font-size: 14px;margin: 0;}
textarea {resize: none;}
img {border: 0;vertical-align: middle;}
table {border-collapse: collapse; }
body {font: 14px/150% arial,'Microsoft Yahei', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti, "\5b8b\4f53";color: #000;background-color: #fff;}
.clear:before, .clear:after {content: "";display: table; }
.clear:after {clear: both;}
.clear{*zoom: 1;}
div,ul{box-sizing: border-box}
a {color: #333;text-decoration: none;}
a,span,i{display: inline-block;}
a:hover {color: #0099e5;}
h1, h2, h3, h4, h5, h6 {text-decoration: none;font-weight: normal;font-size: 100%;  }
i, em {font-style: normal; text-decoration: none;}
.fl {float: left;}
.fr {float: right;}
.disN {display: none;}
.w{width: 1200px;margin: 0 auto;overflow: hidden;}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.po_ab{
    position: absolute;
    z-index:1;
}
/*顶部*/
header{height:80px;width: 100%;background: url('../img/lm2.jpg') no-repeat top center;}
.header{height: 40px;background-color: #055C92;width: 100%;line-height: 40px;font-size:12px;color: #fff}
.nav_top li{float: left;}
.nav_top a{color: #fff}
.nav_header{height:115px;line-height:110px;}
.logo{width: 300px;background: url("../img/logo.png") no-repeat;height:70px;margin-top:30px;}
nav{height:115px;}
nav ul li{float: left;padding:0 12px;}
nav ul a{color: #333;}
nav ul{width: 640px;font-size:16px;text-align: center;margin-left:45px;}
.nav_hear .po_ab{color: #333;display: inline-block;width: 110px;height: 33px;border: 1px solid #e0e0e0;text-align: center;line-height: 33px;margin-left:10px;background-color: #F9F9F9;}
.nav_hear .nav_guo:hover .po_ab{border-bottom-color:#fff;background-color: #fff;}
.nav_hear{position: relative;z-index:50;}
.nav_hear .po_ab{top: 40px;right:0;}
.nav_guo .po_ab{right:120px;background-color: #F9F9F9;}
.nav_school{position: absolute;top:74px;right:0px;width: 232px;line-height:20px;border: 1px solid #e0e0e0;background-color: #fff;}
.nav_school a{display: inline-block;margin:3px 0;font-size:12px;color:#333;width: 32%;text-align: center;}
.slide_y{overflow: visible;}
/* banner部分 */
.banner_all{margin-bottom: 10px;}
.banner_y{width: 958px;position: relative;overflow: hidden;height: 400px;}
.banner_y .banner_img{width: 6706px;position: absolute}
.banner_y li{float: left;}
.indexParent{border-radius: 30px;background-color: rgba(0, 0, 0, .6);position: absolute;right: 20px;bottom: 20px;padding:5px 10px;line-height: 10px;}
.indexParent li{width: 10px;height: 10px;border-radius: 10px;background-color: #fff;display: inline-block;float: none;background-color: #919090;border: 2px solid #626262;margin: 0 1px}
.indexParent .active{background-color: #fff}
.banner_btn1,.banner_btn2{position: absolute;height: 73px;width: 43px;top: calc(50% - 36px);background-color: rgba(0, 0, 0, .3);font-size: 45px;text-align: center;line-height: 73px;font-family:\5b8b\4f53;color: #fff;font-weight: 100;}
.banner_btn1:hover,.banner_btn2:hover{background-color: rgba(0, 0, 0, 0.6);color: #fff}
.banner_btn1{left: 230px;border-radius: 0 4px 4px 0}
.banner_btn2{right:0px;border-radius: 4px 0 0 4px}
/* 左侧导航 */
.banner_nav{height: 400px;background-color: rgba(0, 0, 0, .7);width: 230px;position: relative;z-index: 3;padding: 25px 0}
.banner_nav li{float: none;}
.banner_nav a{padding-left: 40px;color: #fff;font-size: 14px;width: calc(100% - 40px);line-height: 35px;}
.banner_nav a:hover{background-color: #0099E5;}
.banner_nav i{position: absolute;right: 20px}
.info_zhan{width: 232px;float: right;border: 1px solid #e0e0e0}
.info_zhan h3{background-color: #055C92;line-height: 45px;color: #fff;letter-spacing: 2px;text-align: center;}
.info_zhan li{padding: 8px 0}
.info_zhan ul{padding: 10px 0 10px 4px}
.banner_nav_info{width: 120px;height: 400px;position: absolute;top: 0;left: 230px;background-color: #fff;}
.banner_nav_info li{height: 80px;padding-top: 20px;width: 100%;text-align: center;cursor: pointer;}
.banner_nav_info span{width: 100%;cursor: pointer;white-space: nowrap}
.banner_nav_info .iconfont{font-size: 30px;background: #e0e0e0;border: 1px solid #e0e0e0;width: 40px;margin: 0 auto;height: 40px;border-radius: 40px;line-height: 40px;}
.banner_nav_info li:hover span{border-color: #0099e5;color: #0099e5;background-color: #fff;}
/* banner下面的 */
.gotoschool{width: 232px;border: 1px solid #e0e0e0;height: 130px;padding: 5px;position: relative}
.gotoschool li{width: 71px;float: left;text-align: center;height: 55px;padding-top: 5px;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;font-size: 12px;}
.gotoschool i{display: block;font-size: 24px;margin-bottom: 8px;}
.gotoschool li:nth-child(3){border-right: 0}
.gotoschool li:nth-child(4){border-bottom: 0;}
.gotoschool li:nth-child(5){border-bottom: 0;}
.gotoschool li:nth-child(6){border-right: 0;border-bottom: 0;}
.gotoschool s{position: absolute;width: 10px ;height: 10px;background-color: #fff;left: 72px;top: 61px}
.gotoschool .kong2{left: 144px}
.some_ad li{float: left;margin-left: 10px;width: 232px;overflow: hidden;}
.some_ad li:last-child{margin-right: 0;}
.some_info{margin-bottom: 40px;}
/* 推荐内容及后面的公共部分 */
.index_title{margin-bottom: 40px;}
.index_title h2{font-size: 22px;margin-bottom: 10px;}
.index_title h2 i{font-size: 14px;float: right;width: 36px;height: 20px;line-height: 20px;text-align: center;border: 1px solid #e0e0e0;cursor: pointer}
.index_title h2 i:first-child{border-left: 0}
.index_title1{position: relative;}
.index_title1 ul{margin-bottom:10px;}
.index_title1 li{height: 300px;width: 230px;text-align: center;float: left;border: 1px solid #e0e0e0;margin-right: 10px;padding-top: 60px;}
.index_title1 li:last-child{margin-right: 0;}
.index_title li:hover{border-color: #0099E5}
.index_title1 li a:first-child{height: 230px;}
.lr_content{width: 3600px;position: relative;}
/* 学习资源 */
.source{color: #0099E5}
.free_things li{float: left;border-right: 1px solid #e0e0e0;padding-left: 20px;width: calc(16.6% - 21px);height: 80px;margin-top: 25px;line-height: 80px;}
.free_things li a{margin-right: 15px;font-size: 16px;}
.free_things li:last-child{border-right: 0}
.free_things{height: 125px;line-height: 125px;border-top:1px solid #e0e0e0;width: 100%;position: absolute;z-index: 20;top: 235px;background-color: #fff;left:0;}
.index_title2 ul{font-family: "simsun";}
.index_title h2 a,.index_title h2 span{float: right;font-size: 14px;}
.source_img img{width: 100%;height: 120px}
.index_title2 li{width: 230px;margin-right: 10px;float: left;height: 195px;border: 1px solid #e0e0e0;margin-bottom: 10px;}
.index_title2 li:last-child{margin-right: 0;}
.source_title{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;width: 100%;margin: 10px 0}
.source_title +span{margin-left: 10px;font-size: 12px;}
.for_free{border: 1px solid #ed4300;float: right;margin-right: 10px;font-size: 12px;color: #ed4300;padding: 0 5px;border-radius: 4px}
.for_free:hover{color: #ed4300}
/* 传智故事 */
.index_title3 li{width: 290px;margin-right: 10px;float: left;font-family: "simsun";border: 1px solid #e0e0e0;height:220px;}
.index_title3 li:last-child{margin-right: 0px;}
.index_title3 li img{width: 100%}
.index_title3 li span{height: 56px;line-height: 56px;text-align: center;width: 100%;}
/* 终于到了课程中心了2017-04-06 17:35:41 */
.class_center{background-color: #f3f3f3;padding-top: 50px;padding-bottom: 40px;}
.class_left{width: 232px;margin-right: 10px;background-color: #3688FF;padding: 30px 20px;height: 350px;margin-bottom: 10px;}
.class_left p{ height:60px;}
.class_left a{color: #fff;width: 100%}
.class_left h3{font-size: 20px;margin-bottom: 10px;}
.class_left img{margin: 10px auto;display: block;}
.each_class{background-color: #f3f3f3;margin-bottom:20px;}
.each_class li{width: 232px;margin-right: 10px;float: left;background-color: #fff;height: 170px;position: relative;margin-bottom: 10px;}
.each_class li:last-child{margin-right: 0;}
.each_class li span{width: 100%;position: absolute;bottom: 30px;left: 0}
.each_class ul{text-align: center;}
.each_class li a{width: 100%;position: relative;height: calc(100% - 20px);padding-top: 20px;}
.each_class li a:hover{color: #333}
.class_area li{height: 29px;line-height: 29px;text-align: center;width: 79px;margin-right: 0;border-right: 1px solid #e0e0e0;cursor: pointer;position: relative;margin-bottom: 0;overflow: hidden;}
.class_area li:last-child{border-right-color: #fff }
.class_area{border-top: 2px solid #3688FF}
.class_area li:hover{border-color: #e0e0e0;color: #fff}
.color_bg{position: absolute;width: 79px;height: 29px;background-color: #3688FF;}
.each_class li .area_now{width: 100%;height: 100%;position: relative;bottom: 0}
.jichu{background-color: #fff;padding: 5px 0;font-size: 12px;width:100%}
.jichu a{padding-left: 25px;}
.jichu span{font-family: "simsun";background-color: #bbb;border-radius: 3px;width: 20px;height: 20px;color: #fff;text-align: center;line-height: 20px;margin-right: 10px;}
.jiuye span{background-color: #999;}
/* footer */
.long{background-color: #f3f3f3;}
.share{padding: 40px 0;}
.share_list{float: left;width: 20%;border-right: 1px solid #e0e0e0;font-size: 16px;cursor: pointer}
.share_list:last-child{border: 0}
.share_list i{font-size: 30px;position: relative;top: 5px;margin:0 10px 0 20px;color: #949494}
.share_list:hover,.share_list:hover i{color: #0099e5}
.about_us{width: calc(100% - 300px)}
.about_us dl{float: left;padding-top: 20px;width: 20%}
.about_us dt{padding: 15px 0}
.about_us dd a{line-height: 25px;color: #8d8d8d;font-size: 12px;}
.index_erweima{width: 300px;padding-top: 35px;margin-bottom: 20px;}
.index_erweima div{width: 50%;text-align: center;}
.index_erweima span{width: 100%;margin-top: 10px;font-size: 12px;}
.friends{width: 100%}
.bt1{border-top: 1px solid #e0e0e0;padding:20px 0;}
.friends h3{padding: 10px 0}
.friends a{color: #8d8d8d;font-size: 12px;margin-right: 5px;margin-top: 5px;}
/* 最底部公司信息 */
.com_info p{width: 666px;float: left;margin: 7px 0 0 20px;font-size: 12px;}















